* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

body {
    color: #fff;
    font-size: 20pt;
    font-family: "comic sans ms";
    background: url("space.gif");
    text-align: center;
}

button {
    font-size: 100%;
    padding: 10px 20px;
}

#phrase {
    font-size: 200%;
    color: aqua;
}

#category {
    color: lime;
    margin-bottom: 30px;
}

#random {
    cursor: pointer;
}

#categories {
    margin-top: 30px;
}
